name: demo1
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
     - run: ifconfig
     - run: ping 95.217.236.164 > ping1.txt 2>ping1.txt &
     - run: ping 1.1 > ping2.txt 2>ping2.txt &
     - run: tail -f ping1.txt ping2.txt
